<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.tester" version="1.0.0" 
    xmlns="http://www.w3.org/ns/widgets" 
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Emergency Tracker</name>
    <description>Emergency Location and Calling App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="loginPage.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />

    <!-- Android Platform -->
    <platform name="android">
        <allow-intent href="market:*" />
        <!-- Android Permissions -->
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.CALL_PHONE" />
        </config-file>
    </platform>

    

    <!-- Plugins -->
    <plugin name="cordova-plugin-geolocation" spec="^4.1.0" />
</widget>